* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
    margin: 20px;
    padding: 20px;
}

.card {
    max-width: 600px;
    margin: 0 auto;
    padding: 32px;
    background-color: aliceblue;
    border: 4px solid #000;
    border-radius: 8px;
}

.card h1 {
    color: #003366;
    font-size: xx-large;
    margin-bottom: 12px;
    text-align: center;
}

.card p {
    color: #333;
    font-size: larger;
    line-height: 1.5;

}