* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Times New Roman", serif;
    line-height: 2;
    background-color: #fafafa;
    color: #1F2937;
    padding: 32px 16px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

h1 {
    font-size: 48px;
    line-height: 1em;
    font-weight: normal;
    text-align: center;
    margin-bottom: 16px;
}

.subtitle {
    text-align: center;
    font-size: 16px;
    color: #6B7280;
    margin-bottom: 32px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.button-section {
    padding: 32px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.button-section p {
    font-size: 16px;
    margin-bottom: 24px;
}

button {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
    padding: 16px 32px;
}

.button-01 {
    background-color: #0066CC;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid #0066CC;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button-01:hover {
    background-color: #ffffff;
    color: #0066CC;
    border-color: #0066CC;
}

.button-02 {
    background-color: #0e6027;
    color: #ffffff;
    padding: 16px 32px;
    border: 2px solid #0e6027;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-02:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button-03 {
    background-color: #6B7280;
    color: #1F2937;
    border: 2px solid #6B7280;
    transition: all 0.3s;

}

.button-03:hover {
    transform: scale(1.5);
    color: #ffffff;

}

.button-04 {
    background-color: #0e6027;
    color: #ffffff;
    border: 2px solid red;
    transition: ease-in-out all .3s;
}

.button-04:hover {
    border: 6px solid #0e6027;
    background-color: red;
}

.button-05 {
    background-color: #f0f0f0;
    color: black;
    border-radius: 0.5rem;
    box-shadow: inset 0 1px 00 #f4f4f4,
    0 1px 0 0 #efefef,
    0 2px 0 0 #ececec,
    0 4px 0 0 #e0e0e0,
    0 5px 0 0 #dedede,
    0 6px 0 0 #dcdcdc,
    0 7px 0 0 #cacaca,
    0 7px 8px 0 #ececec;
}

.button-05:hover {
    transform: translateY(4px);
    box-shadow: 
    inset 0 1px 00 #f4f4f4,
    0 1px 0 0 #efefef,
    0 1px 0 0 #ececec,
    0 2px 0 0 #e0e0e0,
    0 2px 0 0 #dedede,
    0 3px 0 0 #dcdcdc,
    0 4px 0 0 #cacaca,
    0 4px 6px 0 #ececec;
}

.button-06 {
    background-color: orange;
    color: black;
    border: 2px solid black;
}

.button-06:hover {
    border-radius: 0.5rem;
    font-size: x-large;
}